<html>
<head>
<title>BlogSite</title>

<style>
body{
background : url("https://images.pexels.com/photos/965117/pexels-photo-965117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

div.container{
width : 30%;
margin : 150px auto;
border : 5px solid rgba(0, 0, 0, 0.2);
}

#head{
opacity: 0.8;
}



</style>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

<h1 id="head" class="display-2" style="text-align:center;">
Welcome to the BlogSite Page!!
</h1>

<div class="container">
<div class="col align-self-center">
<h1 class="display-4">
Let's Get Started
</h1>

<a class="btn btn-outline-secondary btn-lg btn-block mt-4 mb-0" href="/register">SignUp</a><hr>
<a class="btn btn-outline-secondary btn-lg btn-block mb-3" href="/login">Login</a>
</div>
</div>

<blockquote class="blockquote text-center">
 <p class="mb-0">“If you want to be a writer, you must do two things above all: Read a lot and write a lot”</p>
 <footer class="blockquote-footer"><cite title="Source Title">Stephen King</cite></footer>
</blockquote>

</body>
</html>